/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wp-timeline-events li{
    border-top: 1px solid #aaa;
    padding: 0px 24px 0px 0;
    min-height: 22px;
    position: relative;
}
.wp-timeline-events li:after {
  content: "";
  display: table;
  clear: both;
}
.wp-timeline-events li .month{
  position: absolute;
  right:0;
  font-size: 1rem;
}
.event-marker{
  border: 1px solid #222;
  border-radius: 100%;
  display: block;
  float: left;
  height:14px;
  width: 14px;
  margin:4px 4px 4px 0;
}
.event-marker:hover{
  background: #222;
}